*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



header{
    width: 100%;
    background-color: green;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

#header-title{
    font-family: monospace;
}
.task-container{
    width: 70%;
    margin: 30px;
    border: 1px solid black;
    padding: 20px;
    border-radius: 20px;
    background: white;
    background-color: green;
}

.add-items{
    display: flex;
    margin: 5px;
}
#input-task{
    font-size: 20px;
    padding: 5px;
}

.add-task-button button{
    font-size: 20px;
    color: white;
    background-color: black;
    padding: 5px;
}
.add-task-button button:hover{
    background-color: green;
    border: 2px solid green;
}

#add-header{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: monospace;
}

#item-head{
    font-size: 25px;
    margin: 10px auto;
    font-weight:bold;
    font-family:monospace;
}

.item-list ul{
    list-style: none;
    margin: 5px;
}

li{
    border: 1px solid black;
    padding: 10px;
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 20px;
    font-family: monospace;
} 

/* a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 20px;
} */

